


<div class="search-container">
  
  <div class="flex justify-center">
  <input class="w-1/2 border rounded-sm shadow" type="text" id="searchTerm" placeholder="What do you want to eat?" [(ngModel)]="searchTerm">
</div>

  <button (click)="searchRecipes()">Get Recipes</button>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
  @for(recipe of recipes; track recipe){
    <article class="bg-white rounded-lg shadow-lg">
      <img class="rounded-t-lg" src="{{recipe.image}}" alt="{{recipe.label}}">
      <div class="p-4">
        <h3 class="text-xl font-semibold">{{recipe.label}}</h3>
        <p class="mt-2 text-gray-600">Time to cook: {{recipe.totalTime}}</p>
        <p class="">CAUTIONS! WARINING: {{recipe.healthLabels}} </p>
        <div class="mt-4">
          <a href="/recipe/{{recipe.self | recipebyid}}" class="text-blue-500 font-semibold hover:text-blue-700">Go to recipe</a>
        </div>
      </div>
    </article>
  }@empty{
    <p class="text-center text-gray-600"></p>
  }
</div>



<!-- <div class= "flex justify-center">
<div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4"> -->
    <!-- Loop through recipes -->
    <!-- <ng-container *ngFor="let recipe of recipes; let i = index">
      <div class="bg-white rounded shadow p-4" *ngIf="recipes.length > 0">
        
        <a class="text-xl font-bold hover:bg-slate-400"
        routerLink="/recipe/{recipe.id}"
        routerLinkActive="active"
        ariaCurrentWhenActive="page">{{ recipe.label }}</a>
        <img [src]="recipe.image" alt="Recipe Image" class="mt-2 w-full">
        <p class="bg-red-400 text-white px-2 py-1 rounded mt-2">Estimated time: {{ recipe.totalTime }}</p>
        <p class="bg-red-400 text-white px-2 py-1 rounded mt-2">Allergy: {{ recipe.healthLabels }} </p>
        <p class="bg-red-400 text-white px-2 py-1 rounded text-sm mt-2">Allergy: {{ recipe.uri }} </p>
        <ul class="mt-2">
      
          <li *ngFor="let ingredientLine of recipe.ingredientLines; let j = index">
            {{ ingredientLine }}
          </li>
        </ul>
    </div>

      <ng-container *ngIf="recipes.length === 0 && i === 0">
        <div class="bg-white rounded shadow p-4 col-span-3">
          <p class="text-center">There are no recipes...</p>
        </div>
      </ng-container>
    </ng-container>
</div>
  </div> -->