<section class="max-w-lg mx-auto py-10">
  <form [formGroup]="searchForm" (ngSubmit)="(searchRecipe)">
    <div class="flex justify-center relative mx-auto text-gray-600">
      <input
        type="text"
        id="searchTerm"
        placeholder="What do you want to eat?"
        formControlName="searchterm"
        class="block rounded-l p-2.5 w-full text-sm text-gray-900 bg-gray-100 rounded-e-lg active:bg-gray-100 focus:outline-none shadow"
      />
      <div class="m-2 fill">
        <button
          class="shadow absolute top-0 end-0 px-6 text-sm font-medium h-full text-white bg-teal-700 rounded-e-lg hover:bg-teal-900"
          (click)="searchRecipe()"
        >
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
            />
          </svg>
        </button>
      </div>
    </div>

    <br />
    <section class="flex overflow-auto flex-wrap gap-1 ml-2">
      <label for="mealType">
        Type of food:
        <div class="inline-block relative w-40">
          <select
            class="block appearance-none w-full bg-white border px-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
            formControlName="mealType"
          >
            @for (mealType of mealTypes; track mealType) {
            <option [value]="mealType">
              {{ mealType }}
            </option>
            }
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </label>

      <br />

      <label for="cuisineType">
        Food by country:
        <div class="inline-block relative w-40">
          <select
            class="block appearance-none w-full bg-white border px-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
            formControlName="cuisineType"
          >
            @for (cuisineType of cuisineTypes; track cuisineType) {
            <option [value]="cuisineType">{{ cuisineType }}</option>
            }
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </label>
      <br />

      <label for="dishType">
        Type of dish:
        <div class="inline-block relative w-40">
          <select
            class="block appearance-none w-full bg-white border px-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
            formControlName="dishType"
          >
            @for (dishType of dishTypes; track dishType) {
            <option [value]="dishType">{{ dishType }}</option>
            }
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </label>
      <label for="health">
        Allergy:
        <div class="inline-block relative w-40">
          <select
            class="block appearance-none w-full bg-white border px-4 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"
            formControlName="health"
          >
            @for (health of health; track health) {
            <option [value]="health">
              {{ health }}
            </option>
            }
          </select>
          <div
            class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
          >
            <svg
              class="fill-current h-4 w-4"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
            >
              <path
                d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
              />
            </svg>
          </div>
        </div>
      </label>
    </section>
  </form>
</section>

<section
  class="grid justify-center gap-4 grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 m-2"
>
  @for (recipe of recipes; track recipe) {

  <article class="bg-white rounded-lg shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]">
    <div class="relative max-w-xl mx-auto">
      <img
        class="w-full object-cover rounded-md"
        ngSrc="{{ recipe.image }}"
        alt="{{ recipe.label }}"
        width="200"
        height="200"
      />
      <div class="absolute inset-0 flex items-center justify-center">
        <a
          [routerLink]="['/recipe', recipe.self | recipebyid]"
          class="bg-black bg-opacity-50 p-2 rounded-full hover:bg-opacity-80 text-white text-xl font-bold"
          >{{ recipe.label }}</a
        >
      </div>
    </div>

    @if (recipe.totalTime != 0) {

    <p class="ml-2">Time: {{ recipe.totalTime }}</p>
    } @if (recipe.yield) {

    <p class="ml-2">Portions: {{ recipe.yield }}</p>
    }
  </article>
  } @empty {
  <p class="text-center col-span-4">No recipes matched, try again.</p>
  }
</section>
